/*disable auto zooming on typing in input field*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
        background: #FFFFFF;
    }
}


body {
    font-size: 1.5em;
    background: #333333;
    /*font-family: 'Ubuntu';*/
    color: white;
}


.player {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    height: 100%;
    text-align: center;
    background: linear-gradient( 135deg, #232323, #232323, #336600, #E13C1E, #0066cc, #dce0bb, #dce0bb);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 98%;
    border-color: white;
    border: 2px solid #BBBBBB;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texture {
    height: 100%;
    background-image: url("images/mottled_BG_1.png");
    /*background-repeat: no-repeat;*/
    background-position: center center;
}

.playerNameContainer {
    flex-grow: 0.5;
}

.playerName {
    width: 90%;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px #DDDDDD solid;
    background: #FFFFFF;
}


.lifeTotal {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    align-items: center;
}

.lifeNumber {
    opacity: 1;
    font-size: 5em;
    line-height: 0.8em;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    border-radius: 5px;
    border: 3px solid #000000;
    background: #CCCCCC;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /*height: 100%;*/
    /*width: 100%;*/
    color: black;
}

.clearBtn {
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.addBtn {
    width: 100px;
    height: 100px;
}

.hudBtn {
    width: auto;
}

.flipBtn {
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.lifeButtonContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.lifeButton {
    width: 100%;
    flex-grow: 1;
}

.customizationPanel {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    margin-top: 0.5em;
}

.colorsList {
    border: 2px #DDDDDD solid;
    border-radius: 3px;
    background: #DDDDDD;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: auto;
    width: 80%;
}

.manaBtnContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.manaBtnWrapper {
    margin: 0px;
    flex-grow: 0;
}

.manaBtn {
    background-color: black;
    background-position: center center;
    background-size: 95%;
    border-radius: 30px;
    height: 50px;
    width: 50px;
}

.B {
    background-image: url("images/B_BW.png");
}

.G {
    background-image: url("images/G_BW.png");
}

.R {
    background-image: url("images/R_BW.png");
}

.U {
    background-image: url("images/U_BW.png");
}

.W {
    background-image: url("images/W_BW.png");
}

.playerBannersContainer {
    border: none;
    border-spacing: 0;
    height: 100%;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hudContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: flex-grow;
}

.colorSelector {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.colorSelector div {
    flex-grow: 1;
}

.jumbotron {
    text-align: center;
    color: black;
}