/*disable auto zooming on typing in input field*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
        background: #eeeeee;
    }
}


body {
    font-size: 2em;
    background: #333333;
    /*font-family: 'Ubuntu';*/
    color: white;
}


.player {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    height: 100%;
    text-align: center;
    background: linear-gradient( 135deg, #232323, #232323, #336600, #E13C1E, #0066cc, #dce0bb, #dce0bb);
    padding-top: 20px;
    padding-bottom: 9px;
    height: 98%;
    /*border-radius: 20px;*/
    border-color: white;
    border: 2px solid #BBBBBB;
    border-radius: 10px;
    color: black;
}

.texture {
    height: 100%;
    background-image: url("images/mottled_BG_1.png");
    /*background-repeat: no-repeat;*/
    background-position: center center;
}

.playerName {
    width: 90%;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px #DDDDDD solid;
    background: #DDDDDD;
}

.xcrement {
    display: block;
    margin: auto;
}

.lifeTotal {
    color: white;
    /*display: block;*/
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    /*opacity: 0.5;*/
    width: auto;
}

.lifeNumber {
    font-size: 20vh;
    line-height: 15vh;
    opacity: 1;
}

button {
    border-radius: 5px;
    border: 2px solid #DDDDDD;
    background: #DDDDDD;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 8vh;
    width: 8vh;
    color: black;
}

.clearBtn {
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.addBtn {
    width: 100px;
    height: 100px;
}

.hudBtn {
    width: auto;
}

.flipBtn {
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.lifeButtonContainer {
    display: flex;
    justify-content: center;
}

.lifeButton {
    width: 100%;
}

.colorsList {
    border: 2px #DDDDDD solid;
    background: #DDDDDD;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 80%;
}

.manaBtn {
    background-color: black;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
    border-radius: 30px;
    height: 50px;
    width: 50px;
}

.B {
    background-image: url("images/B_BW.png");
}

.G {
    background-image: url("images/G_BW.png");
}

.R {
    background-image: url("images/R_BW.png");
}

.U {
    background-image: url("images/U_BW.png");
}

.W {
    background-image: url("images/W_BW.png");
}

.playerBannersContainer {
    border: none;
    border-spacing: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: flex-grow;
    justify-content: center;
    margin: 5px;
}

.hudContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: flex-grow;
}